name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    # Runs at 17 pm UTC or 12 am UTC+7
    - cron: "0 17 * * *"
jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          TIME_RANGE: all_time
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
